
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    &copy; ERP Test <a target="_blank" href="https://test.test">Ankara</a>
                </div>
                <div>
                    <a target="_blank" href="https://test.test/">test</a>
                    &middot;
                    <a target="_blank" href="https://test.test">Test</a>
                </div>
            </div>
        </div>
    </footer>
