{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie me-1"></i>
                            Depo Kayıtları
                        </div>
                        <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie me-1"></i>
                            Depo'da ki Malzemeler
                        </div>
                        <div class="card-body"><canvas id="cikisChart" width="100%" height="50"></canvas></div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-body">
                    <table id="data-table" class="display">
                        <thead>
                            <tr>
                                <th>Tablo</th>
                                <th>Proje Kodu</th>
                                <th>Stok Kodu</th>
                                <th>Müşteri</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                
            </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>
       
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
   document.addEventListener('DOMContentLoaded', function () {
            // Chart.js veri almak için AJAX
            fetch('/chart-data-action/')
                .then(response => response.json())
                .then(data => {
                    var ctx = document.getElementById('myPieChart').getContext('2d');
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                data: data.data,
                                backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745', '#17a2b8', '#6f42c1', '#fd7e14'],
                            }],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                tooltip: {
                                    enabled: true,
                                },
                            },
                        },
                    });
                })
                .catch(error => console.error('Error fetching chart data:', error));
        });
    </script>

<script>
     document.addEventListener('DOMContentLoaded', function () {
            fetch('/totals-chart-data/')
                .then(response => response.json())
                .then(data => {
                    var ctx = document.getElementById('cikisChart').getContext('2d');
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                data: data.data,
                                backgroundColor: ['#eee8aa', '#8b4513', '#1c6071', '#54ff9f', '#ff6347', '#3cb371', '#4682b4'],
                            }],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                tooltip: {
                                    enabled: true,
                                },
                            },
                        },
                    });
                })
                .catch(error => console.error('Error fetching chart data:', error));
        });

        $(document).ready(function() {
            $('#data-table').DataTable({
                "ajax": {
                    "url": "/api/consolidated-data/",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "tablo" },
                    { "data": "proje_kodu" },
                    { "data": "stok_kodu" },
                    { "data": "musteri" }
                ]
            });
        });

</script>


{% endblock javascripts %}
