{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<head>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .full-screen-input {
                width: 100%;
                display: flex;
            }
            .full-screen-input input {
                flex: 1;
            }
            .full-screen-input button {
                margin-left: 10px;
            }
        </style>
        </head>

            
            <main>
                <br>
                <div class="container-fluid">
                    
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Stok Export</li>
                    </ol>


                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSac" aria-expanded="true" aria-controls="collapseOne">
                                Saç
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseSac" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <table id="table1">
                                    <thead>
                                        <tr>
                                          <th>Firma</th>
                                          <th>Proje</th>
                                          <th>Stok Kodu</th>
                                          <th>Adet</th>
                                          <th>Depo</th>
                                          <th>Çıkış Tarihi</th>
                                          <th>Giriş Tarihi</th>
                                          <th>Giriş Açıklama</th>
                                          <th>Çıkış Açıklama</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Firma</th>
                                            <th>Proje</th>
                                            <th>Stok Kodu</th>
                                            <th>Adet</th>
                                            <th>Depo</th>
                                            <th>Çıkış Tarihi</th>
                                            <th>Giriş Tarihi</th>
                                            <th>Giriş Açıklama</th>
                                            <th>Çıkış Açıklama</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                      {% for item in Sac %}
                                      <tr>
                                        <td>{{ item.musteri|default:"Veri yok" }}</td>
                                        <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                        <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                        <td>{{ item.adet|default:"Veri yok" }}</td>
                                        <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                        <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                        <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                        <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                        <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                      </tr>
                                      {% empty %}
                                      <tr>
                                        <td colspan="7">Veri bulunamadı.</td>
                                    </tr>
                                    {% endfor %}
                                       
                                    </tbody>
                                </table>

                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBoya" aria-expanded="false" aria-controls="collapseOne">
                                  Boya
                                </button>
                              </h5>
                            </div>
                        
                            <div id="collapseBoya" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">

                                <table id="table2">
                                  <thead>
                                      <tr>
                                        <th>Firma</th>
                                        <th>Proje</th>
                                        <th>Stok Kodu</th>
                                        <th>Adet</th>
                                        <th>Depo</th>
                                        <th>Çıkış Tarihi</th>
                                        <th>Giriş Tarihi</th>
                                        <th>Giriş Açıklama</th>
                                        <th>Çıkış Açıklama</th>
                                      </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                          <th>Firma</th>
                                          <th>Proje</th>
                                          <th>Stok Kodu</th>
                                          <th>Adet</th>
                                          <th>Depo</th>
                                          <th>Çıkış Tarihi</th>
                                          <th>Giriş Tarihi</th>
                                          <th>Giriş Açıklama</th>
                                          <th>Çıkış Açıklama</th>
                                      </tr>
                                  </tfoot>
                                  <tbody>
                                    {% for item in Boya %}
                                    <tr>
                                      <td>{{ item.musteri|default:"Veri yok" }}</td>
                                      <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                      <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                      <td>{{ item.adet|default:"Veri yok" }}</td>
                                      <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                      <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                      <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                      <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                      <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="7">Veri bulunamadı.</td>
                                  </tr>
                                  {% endfor %}
                                     
                                  </tbody>
                              </table>
                                
                              </div>
                            </div>
                          </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseYatak" aria-expanded="false" aria-controls="collapseTwo">
                                Yatak
                              </button>
                            </h5>
                          </div>
                          <div id="collapseYatak" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                              <table id="table3">
                                <thead>
                                    <tr>
                                      <th>Firma</th>
                                      <th>Proje</th>
                                      <th>Stok Kodu</th>
                                      <th>Adet</th>
                                      <th>Depo</th>
                                      <th>Çıkış Tarihi</th>
                                      <th>Giriş Tarihi</th>
                                      <th>Giriş Açıklama</th>
                                      <th>Çıkış Açıklama</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Firma</th>
                                        <th>Proje</th>
                                        <th>Stok Kodu</th>
                                        <th>Adet</th>
                                        <th>Depo</th>
                                        <th>Çıkış Tarihi</th>
                                        <th>Giriş Tarihi</th>
                                        <th>Giriş Açıklama</th>
                                        <th>Çıkış Açıklama</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                  {% for item in Yatak %}
                                  <tr>
                                    <td>{{ item.musteri|default:"Veri yok" }}</td>
                                    <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                    <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                    <td>{{ item.adet|default:"Veri yok" }}</td>
                                    <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                    <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                    <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                    <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                    <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                    <td colspan="7">Veri bulunamadı.</td>
                                </tr>
                                {% endfor %}
                                   
                                </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsemotor" aria-expanded="false" aria-controls="collapseThree">
                                Motor Redüktör
                              </button>
                            </h5>
                          </div>
                          <div id="collapsemotor" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                              <table id="table4">
                                <thead>
                                    <tr>
                                      <th>Firma</th>
                                      <th>Proje</th>
                                      <th>Stok Kodu</th>
                                      <th>Adet</th>
                                      <th>Depo</th>
                                      <th>Çıkış Tarihi</th>
                                      <th>Giriş Tarihi</th>
                                      <th>Giriş Açıklama</th>
                                      <th>Çıkış Açıklama</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Firma</th>
                                        <th>Proje</th>
                                        <th>Stok Kodu</th>
                                        <th>Adet</th>
                                        <th>Depo</th>
                                        <th>Çıkış Tarihi</th>
                                        <th>Giriş Tarihi</th>
                                        <th>Giriş Açıklama</th>
                                        <th>Çıkış Açıklama</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                  {% for item in Motor %}
                                  <tr>
                                    <td>{{ item.musteri|default:"Veri yok" }}</td>
                                    <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                    <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                    <td>{{ item.adet|default:"Veri yok" }}</td>
                                    <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                    <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                    <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                    <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                    <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                  </tr>
                                  {% empty %}
                                  <tr>
                                    <td colspan="7">Veri bulunamadı.</td>
                                </tr>
                                {% endfor %}
                                   
                                </tbody>
                            </table>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseprofil" aria-expanded="false" aria-controls="collapseThree">
                                  Profil
                                </button>
                              </h5>
                            </div>
                            <div id="collapseprofil" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                <table id="table5">
                                  <thead>
                                      <tr>
                                        <th>Firma</th>
                                        <th>Proje</th>
                                        <th>Stok Kodu</th>
                                        <th>Adet</th>
                                        <th>Depo</th>
                                        <th>Çıkış Tarihi</th>
                                        <th>Giriş Tarihi</th>
                                        <th>Giriş Açıklama</th>
                                        <th>Çıkış Açıklama</th>
                                      </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                          <th>Firma</th>
                                          <th>Proje</th>
                                          <th>Stok Kodu</th>
                                          <th>Adet</th>
                                          <th>Depo</th>
                                          <th>Çıkış Tarihi</th>
                                          <th>Giriş Tarihi</th>
                                          <th>Giriş Açıklama</th>
                                          <th>Çıkış Açıklama</th>
                                      </tr>
                                  </tfoot>
                                  <tbody>
                                    {% for item in Profil %}
                                    <tr>
                                      <td>{{ item.musteri|default:"Veri yok" }}</td>
                                      <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                      <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                      <td>{{ item.adet|default:"Veri yok" }}</td>
                                      <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                      <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                      <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                      <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                      <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                      <td colspan="7">Veri bulunamadı.</td>
                                  </tr>
                                  {% endfor %}
                                     
                                  </tbody>
                              </table>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseislem" aria-expanded="false" aria-controls="collapseThree">
                              İşlem Parçaları
                            </button>
                          </h5>
                        </div>
                        <div id="collapseislem" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <table id="table6">
                              <thead>
                                  <tr>
                                    <th>Firma</th>
                                    <th>Proje</th>
                                    <th>Stok Kodu</th>
                                    <th>Adet</th>
                                    <th>Depo</th>
                                    <th>Çıkış Tarihi</th>
                                    <th>Giriş Tarihi</th>
                                    <th>Giriş Açıklama</th>
                                    <th>Çıkış Açıklama</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>Firma</th>
                                      <th>Proje</th>
                                      <th>Stok Kodu</th>
                                      <th>Adet</th>
                                      <th>Depo</th>
                                      <th>Çıkış Tarihi</th>
                                      <th>Giriş Tarihi</th>
                                      <th>Giriş Açıklama</th>
                                      <th>Çıkış Açıklama</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                {% for item in Isleme %}
                                <tr>
                                  <td>{{ item.musteri|default:"Veri yok" }}</td>
                                  <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                  <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                  <td>{{ item.adet|default:"Veri yok" }}</td>
                                  <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                  <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                  <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                  <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                  <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="7">Veri bulunamadı.</td>
                              </tr>
                              {% endfor %}
                                 
                              </tbody>
                          </table>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseteknolojik" aria-expanded="false" aria-controls="collapseThree">
                              Teknolojik Alım
                            </button>
                          </h5>
                        </div>
                        <div id="collapseteknolojik" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <table id="table7">
                              <thead>
                                  <tr>
                                    <th>Firma</th>
                                    <th>Proje</th>
                                    <th>Stok Kodu</th>
                                    <th>Adet</th>
                                    <th>Depo</th>
                                    <th>Çıkış Tarihi</th>
                                    <th>Giriş Tarihi</th>
                                    <th>Giriş Açıklama</th>
                                    <th>Çıkış Açıklama</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>Firma</th>
                                      <th>Proje</th>
                                      <th>Stok Kodu</th>
                                      <th>Adet</th>
                                      <th>Depo</th>
                                      <th>Çıkış Tarihi</th>
                                      <th>Giriş Tarihi</th>
                                      <th>Giriş Açıklama</th>
                                      <th>Çıkış Açıklama</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                {% for item in Teknoloji %}
                                <tr>
                                  <td>{{ item.musteri|default:"Veri yok" }}</td>
                                  <td>{{ item.projekodu|default:"Veri yok" }}</td>
                                  <td>{{ item.stok_kodu|default:"Veri yok" }}</td>
                                  <td>{{ item.adet|default:"Veri yok" }}</td>
                                  <td>{{ item.depo_secimi|default:"Veri yok" }}</td>
                                  <td>{{ item.olusturma_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                  <td>{{ item.son_edit_tarih|date:"Y-m-d H:i:s"|default:"Veri yok" }}</td>
                                  <td>{{ item.giris_aciklama|default:"Veri yok" }}</td>
                                  <td>{{ item.cikis_aciklama|default:"Veri yok" }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="7">Veri bulunamadı.</td>
                              </tr>
                              {% endfor %}
                                 
                              </tbody>
                          </table>
                          </div>
                        </div>
                      </div>
                    

                </div>
            </main>
      
 

<script>
  document.addEventListener("DOMContentLoaded", function() {
        
         const table1 = document.querySelector("#table1");
         const dataTable1 = new DataTable(table1, {
             perPage: 5, 
             perPageSelect: [5, 10, 15],
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                }
         });

         const table2 = document.querySelector("#table2");
         const dataTable2 = new DataTable(table2, {
             perPage: 5, 
             perPageSelect: [5, 10, 15], 
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                }
         });

         const table3 = document.querySelector("#table3");
         const dataTable3 = new DataTable(table3, {
             perPage: 5, 
             perPageSelect: [5, 10, 15], 
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                }
         });

         const table4 = document.querySelector("#table4");
         const dataTable4 = new DataTable(table4, {
             perPage: 5, 
             perPageSelect: [5, 10, 15], 
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                } 
         });

         const table5 = document.querySelector("#table5");
         const dataTable5 = new DataTable(table5, {
             perPage: 5, 
             perPageSelect: [5, 10, 15], 
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                }
         });

         const table6 = document.querySelector("#table6");
         const dataTable6 = new DataTable(table6, {
             perPage: 5, 
             perPageSelect: [5, 10, 15], 
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                } 
         });
         const table7 = document.querySelector("#table7");
         const dataTable7 = new DataTable(table7, {
             perPage: 5, 
             perPageSelect: [5, 10, 15], 
             searchable: true, 
             sortable: true,
             language: {
                    search: "Ara:",
                    zeroRecords: "Tabloda veri mevcut değil",
                    infoEmpty: "Veri mevcut değil",
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    }
                } 
         });
     });
     

</script>


{% endblock content %}



{% block javascripts %}
    

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
