{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<head>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
      
        
        <style>
            .autocomplete-suggestions {
                border: 1px solid #e0e0e0;
                max-height: 150px;
                overflow-y: auto;
                position: absolute;
                z-index: 1000;
                background-color: white;
            }
            .autocomplete-suggestion {
                padding: 10px;
                cursor: pointer;
            }
            .autocomplete-suggestion:hover {
                background-color: #e0e0e0;
            }
                    
           .hidden-field {
            display: none;
           }
        </style>
        <style>
            .full-screen-input {
                width: 100%;
                display: flex;
            }
            .full-screen-input input {
                flex: 1;
            }
            .full-screen-input button {
                margin-left: 10px;
            }
        </style>
      
        </head>

            
            <main>
                <br>
                <div class="container-fluid">
                    
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Stok Export</li>
                    </ol>


                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSac" aria-expanded="true" aria-controls="collapseOne">
                                Stok Çıkış
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseSac" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <form id="stokexportForm" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">

                                        <div class="form-group col-md-6">
                                            <label for="stok_kodu">Stok Kodu</label>
                                            <input type="text" class="form-control" id="stok_kodu" name="stok_kodu" placeholder="Stok Kodunu Giriniz">
                                            <div id="stok_kodu_suggestions" class="autocomplete-suggestions"></div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="proje">Proje</label>
                                            <input type="text" class="form-control" id="proje" name="proje" placeholder="Proje" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        
                                            <div class="form-group col-md-4">
                                                <label for="musteri">Müşteri</label>
                                                <input type="text" class="form-control" id="musteri" name="musteri" placeholder="Müşteri" readonly>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="adet">Adet</label>
                                                <input type="text" class="form-control" id="adet" name="adet" placeholder="Adet" readonly>
                                            </div>
                                            <div class="form-group col-md-0  hidden-field" >
                                                <label for="tablo">Tablo</label>
                                                <input type="text" class="form-control" id="tablo" name="tablo" placeholder="Table" readonly>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="depo_secimi">Depo Seçimi</label>
                                                <input type="text" class="form-control" id="depo_secimi" name="depo_secimi" placeholder="Depo" readonly>
                                            </div>
                                    </div>
                                    <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="cikis_aciklama">Çıkış Açıklama</label>
                                        <input type="text" class="form-control" id="cikis_aciklama" name="cikis_aciklama" placeholder="Açıklama">
                                      </div>
                                      <div class="form-group col-md-3">
                                        <label for="cikis_adeti">Çıkış Adet</label>
                                        <input type="number" class="form-control" id="cikis_adeti" name="cikis_adeti"  placeholder="Çıkış Adet">
                                      </div>
                                      <div class="form-group col-md-3">
                                        <label for="son_edit_tarih">Tarih</label>
                                        <input type="datetime-local" class="form-control" id="son_edit_tarih" name="tarih">
                                    </div> 
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                          </div>
                        </div>
   
                </div>
            </main>
      
    



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    
        <script>
               $(document).ready(function() {
            function search(query, url, suggestionDiv) {
                if (query.length > 0) {
                    $.ajax({
                        url: url,
                        data: {
                            'query': query
                        },
                        success: function(data) {
                            let suggestions = data.results;
                            let suggestionHTML = '';
                            suggestions.forEach(function(suggestion) {
                                suggestionHTML += `<div class="autocomplete-suggestion" data-musteri="${suggestion.musteri}" data-projekodu="${suggestion.projekodu__proje_kodu}" data-adet="${suggestion.adet}" data-depo_secimi="${suggestion.depo_secimi}" data-tablo="${suggestion.table}">${suggestion.stok_kodu}</div>`;
                            });
                            $(suggestionDiv).html(suggestionHTML).show();
                        }
                    });
                } else {
                    $(suggestionDiv).hide();
                }
            }

            $('#stok_kodu').on('input', function() {
                let query = $(this).val();
                search(query, '{% url "search_stok_kodu" %}', '#stok_kodu_suggestions');
            });

            $(document).on('click', '.autocomplete-suggestion', function() {
                let text = $(this).text();
                let musteri = $(this).data('musteri');
                let projekodu = $(this).data('projekodu');
                let adet = $(this).data('adet');
                let depoSecimi = $(this).data('depo_secimi');
                let tablo = $(this).data('tablo');
                
                $('#stok_kodu').val(text);
                $('#musteri').val(musteri);
                $('#proje').val(projekodu);
                $('#adet').val(adet);
                $('#depo_secimi').val(depoSecimi);
                $('#tablo').val(tablo);

                $('#stok_kodu_suggestions').hide();
            });

            $(document).click(function(e) {
                if (!$(e.target).closest('.autocomplete-suggestions, input').length) {
                    $('.autocomplete-suggestions').hide();
                }
            });
        });
    </script>
    <script>
            $('#stokexportForm').on('submit', function(e) {
        e.preventDefault();
        console.log($(this).serialize());
        $.ajax({
            type: 'POST',
            url: '{% url "update_stock" %}',
            data: $(this).serialize(),
            success: function(response) {
                alert(response.message);
            }
        });
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>


{% endblock javascripts %}
